{% extends 'base.html.twig' %}

{% block title %}iWatched
{% endblock %}

{% block body %}

	{# {% if is_granted('ROLE_ADMIN') %}
		<div class="text-center mt-3">
			<a class="btn btn-warning" href="{{ path('app_computer_index')}}">Liste des computers</a>
			<a class="btn btn-warning" href="{{ path('app_brand_index')}}">Liste des marques</a>
		</div>
	{% endif %} #}
    <h2>Films</h2>
    <h3>Films populaires</h3>
	<div class="cards-container d-flex justify-content-around flex-wrap gap-1">
		{% for popMovie in popMovies %}
			<div
				class="card" style="width: 18rem; gap-1">
				<img src="https://www.themoviedb.org/t/p/w220_and_h330_face/{{popMovie.poster_path}}" class="card-img-top" alt="placeholder">
				<div class="card-body">
					<h5 class="card-title">{{ popMovie.title }}</h5>
					<p class="card-text">{{ popMovie.release_date }}</p>
					<a href="{{ path('app_movie', {'movie_id': popMovie.id}) }}" class="btn btn-info">Plus d'infos</a>

					{# {% if app.user %}
						{% if computer.isUserFav(app.user) %}
							<a href="{{ path('app_computer_fav', {'id': computer.id}) }}" class="btn btn-danger">
								<i class="fa-solid fa-heart"></i>
							</a>
						{% else %}
							<a href="{{ path('app_computer_fav', {'id': computer.id}) }}" class="btn btn-danger">
								<i class="fa-regular fa-heart"></i>
							</a>
						{% endif %}
					{% endif %} #}

					{# {% if app.user %}
						{% if computer.isUserFav(app.user) %}
							<a href="{{ path('app_computer_fav', {'id': computer.id}) }}" class="btn btn-danger">
								<i class="fa-solid fa-heart"></i>
							</a>
						{% else %}
							<a href="{{ path('app_computer_fav', {'id': computer.id}) }}" class="btn btn-danger">
								<i class="fa-regular fa-heart"></i>
							</a>
						{% endif %}
					{% endif %} #}
				</div>
			</div>
		{% endfor %}
	</div>
    
    <h3>Films les mieux notés</h3>
	<div class="cards-container d-flex justify-content-around flex-wrap gap-1">
		{% for topMovie in topMovies %}
			<div
				class="card" style="width: 18rem; gap-1">
				<img src="https://www.themoviedb.org/t/p/w220_and_h330_face/{{topMovie.poster_path}}" class="card-img-top" alt="placeholder">
				<div class="card-body">
					<h5 class="card-title">{{ topMovie.title }}</h5>
					<p class="card-text">{{ topMovie.release_date }}</p>
					<p class="card-text">{{ topMovie.vote_average }}</p>
					{# <a href="{{ path('app_computer_show', {'id': computer.id}) }}" class="btn btn-info">Plus d'infos</a> #}

					{# {% if app.user %}
						{% if computer.isUserFav(app.user) %}
							<a href="{{ path('app_computer_fav', {'id': computer.id}) }}" class="btn btn-danger">
								<i class="fa-solid fa-heart"></i>
							</a>
						{% else %}
							<a href="{{ path('app_computer_fav', {'id': computer.id}) }}" class="btn btn-danger">
								<i class="fa-regular fa-heart"></i>
							</a>
						{% endif %}
					{% endif %} #}

					{# {% if app.user %}
						{% if computer.isUserFav(app.user) %}
							<a href="{{ path('app_computer_fav', {'id': computer.id}) }}" class="btn btn-danger">
								<i class="fa-solid fa-heart"></i>
							</a>
						{% else %}
							<a href="{{ path('app_computer_fav', {'id': computer.id}) }}" class="btn btn-danger">
								<i class="fa-regular fa-heart"></i>
							</a>
						{% endif %}
					{% endif %} #}
				</div>
			</div>
		{% endfor %}
	</div>

    <h3>Sorties prochaines</h3>
	<div class="cards-container d-flex justify-content-around flex-wrap gap-1">
		{% for upMovie in upMovies %}
			<div
				class="card" style="width: 18rem; gap-1">
				<img src="https://www.themoviedb.org/t/p/w220_and_h330_face/{{upMovie.poster_path}}" class="card-img-top" alt="placeholder">
				<div class="card-body">
					<h5 class="card-title">{{ upMovie.title }}</h5>
					<p class="card-text">{{ upMovie.release_date }}</p>
					{# <a href="{{ path('app_computer_show', {'id': computer.id}) }}" class="btn btn-info">Plus d'infos</a> #}

					{# {% if app.user %}
						{% if computer.isUserFav(app.user) %}
							<a href="{{ path('app_computer_fav', {'id': computer.id}) }}" class="btn btn-danger">
								<i class="fa-solid fa-heart"></i>
							</a>
						{% else %}
							<a href="{{ path('app_computer_fav', {'id': computer.id}) }}" class="btn btn-danger">
								<i class="fa-regular fa-heart"></i>
							</a>
						{% endif %}
					{% endif %} #}

					{# {% if app.user %}
						{% if computer.isUserFav(app.user) %}
							<a href="{{ path('app_computer_fav', {'id': computer.id}) }}" class="btn btn-danger">
								<i class="fa-solid fa-heart"></i>
							</a>
						{% else %}
							<a href="{{ path('app_computer_fav', {'id': computer.id}) }}" class="btn btn-danger">
								<i class="fa-regular fa-heart"></i>
							</a>
						{% endif %}
					{% endif %} #}
				</div>
			</div>
		{% endfor %}
	</div>

    <h3>Séries populaires</h3>
	<div class="cards-container d-flex justify-content-around flex-wrap gap-1">
		{% for popTv in popTvs %}
			<div
				class="card" style="width: 18rem; gap-1">
				<img src="https://www.themoviedb.org/t/p/w220_and_h330_face/{{popTv.poster_path}}" class="card-img-top" alt="placeholder">
				<div class="card-body">
					<h5 class="card-title">{{ popTv.name }}</h5>
					<p class="card-text">{{ popTv.first_air_date }}</p>
					{# <a href="{{ path('app_computer_show', {'id': computer.id}) }}" class="btn btn-info">Plus d'infos</a> #}

					{# {% if app.user %}
						{% if computer.isUserFav(app.user) %}
							<a href="{{ path('app_computer_fav', {'id': computer.id}) }}" class="btn btn-danger">
								<i class="fa-solid fa-heart"></i>
							</a>
						{% else %}
							<a href="{{ path('app_computer_fav', {'id': computer.id}) }}" class="btn btn-danger">
								<i class="fa-regular fa-heart"></i>
							</a>
						{% endif %}
					{% endif %} #}

					{# {% if app.user %}
						{% if computer.isUserFav(app.user) %}
							<a href="{{ path('app_computer_fav', {'id': computer.id}) }}" class="btn btn-danger">
								<i class="fa-solid fa-heart"></i>
							</a>
						{% else %}
							<a href="{{ path('app_computer_fav', {'id': computer.id}) }}" class="btn btn-danger">
								<i class="fa-regular fa-heart"></i>
							</a>
						{% endif %}
					{% endif %} #}
				</div>
			</div>
		{% endfor %}
	</div>

    <h3>Séries les mieux notées</h3>
	<div class="cards-container d-flex justify-content-around flex-wrap gap-1">
		{% for topTv in topTvs %}
			<div
				class="card" style="width: 18rem; gap-1">
				<img src="https://www.themoviedb.org/t/p/w220_and_h330_face/{{topTv.poster_path}}" class="card-img-top" alt="placeholder">
				<div class="card-body">
                    <h5 class="card-title">{{ topTv.name }}</h5>
					<p class="card-text">{{ topTv.first_air_date }}</p>
					<p class="card-text">{{ topTv.vote_average }}</p>

					{# <a href="{{ path('app_computer_show', {'id': computer.id}) }}" class="btn btn-info">Plus d'infos</a> #}

					{# {% if app.user %}
						{% if computer.isUserFav(app.user) %}
							<a href="{{ path('app_computer_fav', {'id': computer.id}) }}" class="btn btn-danger">
								<i class="fa-solid fa-heart"></i>
							</a>
						{% else %}
							<a href="{{ path('app_computer_fav', {'id': computer.id}) }}" class="btn btn-danger">
								<i class="fa-regular fa-heart"></i>
							</a>
						{% endif %}
					{% endif %} #}

					{# {% if app.user %}
						{% if computer.isUserFav(app.user) %}
							<a href="{{ path('app_computer_fav', {'id': computer.id}) }}" class="btn btn-danger">
								<i class="fa-solid fa-heart"></i>
							</a>
						{% else %}
							<a href="{{ path('app_computer_fav', {'id': computer.id}) }}" class="btn btn-danger">
								<i class="fa-regular fa-heart"></i>
							</a>
						{% endif %}
					{% endif %} #}
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
